* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(to right, #00c6ff, #0072ff); */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    width: 850px;
    max-width: 100%;
    direction: rtl;
}

.form-right-login {
    background: #1daa97;
    color: #fff;
    padding: 40px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    direction: ltr;
}

.form-left-login {
    flex: 1;
    padding: 40px 30px;
    direction: ltr;
}

.submit-btn {
    width: 150px;
    background: #1daa97;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover {
    background: #1daa97;
}

.social-container a {
    border: 1px solid #1daa97;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    color: #1daa97;
}

.success-message {
    display: none;
    margin-top: 10px;
    color: green;
    font-weight: bold;
}


.signup-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 850px;
    width: 100%;
    overflow: hidden;
}

.form-left-sign {
    background: #1daa97;
    color: #fff;
    padding: 40px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-left a {
    color: #fff;
    text-decoration: underline;
}

.form-right-sign {
    flex: 1;
    padding: 40px 30px;
}

.submit-btn {
    width: 150px;
    background: #1daa97;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #1daa97;
}

.success-message {
    display: none;
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

.input-error {
   border: 2px solid red !important;
  outline: none !important;
  box-shadow: 0 0 4px red !important
}

.is-invalid {
  border: 2px solid red !important;
}

.is-valid {
  border: 2px solid green !important;
}