 <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <div class="footer-logo-container">
                    <img src="../images/img_pexelsrocketmannteam94869051_2.png" alt="Logo" class="footer-logo-img">
                    <div class="footer-logo-text">
                        <h2>HelpHive</h2>
                        <p>your tagline</p>
                    </div>
                </div>
                <p>Fundly is dedicated to providing you with the tools you need to raise money for whatever your cause may be.</p>
            </div>
            
            <div class="footer-links">
                <div class="footer-column">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="#">Fundraising Ideas</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
                
                <div class="footer-column">
                    <h3>&nbsp;</h3>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>
                
                <div class="footer-social">
                    <h3>Follow Us</h3>
                    
                    <div class="social-row">
                        <img src="../images/img_vector.svg" alt="Facebook" class="social-icon">
                        <a href="#" class="social-link">Facebook</a>
                    </div>
                    
                    <div class="social-row">
                        <img src="../images/img_vector_26x26.svg" alt="Twitter" class="social-icon">
                        <a href="#" class="social-link">Twitter</a>
                    </div>
                    
                    <div class="social-row">
                        <img src="../images/img_group_5.svg" alt="Instagram" class="social-icon">
                        <a href="#" class="social-link">Instagram</a>
                    </div>
                    
                    <div class="social-row">
                        <img src="../images/img_group_8.svg" alt="Google+" class="social-icon">
                        <a href="#" class="social-link">Google+</a>
                    </div>
                    
                    <div class="social-row">
                        <img src="../images/img_vector_1.svg" alt="LinkedIn" class="social-icon">
                        <a href="#" class="social-link">Linkedin</a>
                    </div>
                    
                    <div class="social-row">
                        <img src="../images/img_group_9.svg" alt="Blog" class="social-icon">
                        <a href="#" class="social-link">Blog</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer-divider"></div>
        
        <div class="copyright">
            Copyright © Fundly 2023
        </div>
    </footer>

