 <!-- Footer -->
    <!-- <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <div class="footer-logo-container">
                    <img src="../images/img_pexelsrocketmannteam94869051_2.png" alt="Logo" class="footer-logo-img">
                    <div class="footer-logo-text">
                        <h2>HelpHive</h2>
                        <p>your tagline</p>
                    </div>
                </div>
                <p>Fundly is dedicated to providing you with the tools you need to raise money for whatever your cause may be.</p>
            </div>
            
            <div class="footer-links">
                <div class="footer-column">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="#">Fundraising Ideas</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
                
                <div class="footer-column">
                    <h3>&nbsp;</h3>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>
                
                <div class="footer-social">
                    <h3>Follow Us</h3>
                    
                    <div class="social-row">
                        <img src="../images/img_vector.svg" alt="Facebook" class="social-icon">
                        <a href="#" class="social-link">Facebook</a>
                    </div>
                    
                    <div class="social-row">
                        <img src="../images/img_vector_26x26.svg" alt="Twitter" class="social-icon">
                        <a href="#" class="social-link">Twitter</a>
                    </div>
                    
                    <div class="social-row">
                        <img src="../images/img_group_5.svg" alt="Instagram" class="social-icon">
                        <a href="#" class="social-link">Instagram</a>
                    </div>
                    
                    <div class="social-row">
                        <img src="../images/img_group_8.svg" alt="Google+" class="social-icon">
                        <a href="#" class="social-link">Google+</a>
                    </div>
                    
                    <div class="social-row">
                        <img src="../images/img_vector_1.svg" alt="LinkedIn" class="social-icon">
                        <a href="#" class="social-link">Linkedin</a>
                    </div>
                    
                    <div class="social-row">
                        <img src="../images/img_group_9.svg" alt="Blog" class="social-icon">
                        <a href="#" class="social-link">Blog</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer-divider"></div>
        
        <div class="copyright">
            Copyright © Fundly 2023
        </div>
    </footer> -->

    <footer class="all-detailes">
        <div class="bg-dark text-white pt-5 pb-4">
            <div class="container">
                <div class="row text-start">
                    <div class="col-md-4 mb-4 text-center text-md-start">
                        <div class="mb-2 d-flex justify-content-center justify-content-md-start align-items-center">
                            <img src="../images/img_pexelsrocketmannteam94869051_2.png" alt="Logo" width="60" height="60"
                                class="me-2">
                            <div>
                                <h5 class="mb-0 text-info">YOUR LOGO</h5>
                            </div>
                        </div>
                        
                        <p class="text-light small mt-3">
                            Fundly is dedicated to providing you with the tools you need to raise money for whatever
                            your cause may be.
                        </p>
                    </div>

                    <!--  About Links  -->
                    <div class="col-md-4 mb-4">
                        <h6 class="text-info mb-3">ABOUT US</h6>
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-unstyled small">
                                    <li><a href="#" class="text-light text-decoration-none">Fundraising Ideas</a></li>
                                    <li><a href="#" class="text-light text-decoration-none">Pricing</a></li>
                                    <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
                                    <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
                                    <li><a href="#" class="text-light text-decoration-none">Support</a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-unstyled small">
                                    <li><a href="#" class="text-light text-decoration-none">Blog</a></li>
                                    <li><a href="#" class="text-light text-decoration-none">Terms of Use</a></li>
                                    <li><a href="#" class="text-light text-decoration-none">FAQ</a></li>
                                    <li><a href="#" class="text-light text-decoration-none">Sales</a></li>
                                    <li><a href="#" class="text-light text-decoration-none">Press</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Social Media  -->
                    <div class="col-md-4 mb-4">
                        <h6 class="text-info mb-3">FOLLOW US</h6>
                        <div class="row small">
                            <div class="col-6 d-flex align-items-center mb-2">
                                <i class="bi bi-facebook me-2 fs-5"></i> Facebook
                            </div>
                            <div class="col-6 d-flex align-items-center mb-2">
                                <i class="bi bi-twitter me-2 fs-5"></i> Twitter
                            </div>
                            <div class="col-6 d-flex align-items-center mb-2">
                                <i class="bi bi-instagram me-2 fs-5"></i> Instagram
                            </div>
                            <div class="col-6 d-flex align-items-center mb-2">
                                <i class="bi bi-youtube me-2 fs-5"></i> Google+
                            </div>
                            <div class="col-6 d-flex align-items-center mb-2">
                                <i class="bi bi-linkedin me-2 fs-5"></i> Linkedin
                            </div>
                            <div class="col-6 d-flex align-items-center mb-2">
                                <i class="bi bi-whatsapp me-2 fs-5"></i> Blog
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="border-light">
                <div class="text-center small">
                    <p class="mb-0">Copyright © Fundly 2025</p>
                </div>
            </div>
        </div>
    </footer>