
    <!-- Top Bar -->
    <div class="top-bar">
        <div class="social-icons">
            <img src="../images/img__15x181.png" alt="Social Media Icons">
        </div>
    </div>
    
    <!-- Header -->
    <header class="header">
        <div class="logo-container">
            <img src="../images/img_pexelsrocketmannteam94869051_2.png" alt="Logo" class="logo-img">
            <div class="logo-text">
                <h1>HelpHive</h1>
                <p>your tagline</p>
            </div>
        </div>
        
        <nav class="nav-menu">
            <a href="../index.html" class="active">Home</a>
            <a href="../pages/about.html">About</a>
            <a href="../pages/formcopmaine.html">Campaigns</a>
            <!-- <a href="#">Event</a>
            <a href="#">News</a> -->
            <a href="../pages/contact.html">Contact</a>
        </nav>
        
        <button class="donate-btn"> <a href="../pages/signup.html">Sing Up</a></button>
    </header>
