<!-- Top Bar -->
<div class="top-bar">
    <div class="social-icons">
        <img src="../images/img__15x181.png" alt="Social Media Icons">
    </div>
</div>

<!-- Header -->
<header class="header">
    <div class="logo-container">
        <img src="../images/img_pexelsrocketmannteam94869051_2.png" alt="Logo" class="logo-img">
        <div class="logo-text">
            <h1>HelpHive</h1>
            <p>your tagline</p>
        </div>
    </div>

    <nav class="nav-menu">
        <ul class="nav-links">
            <li><a href="../index.html" class="nav-link">Home</a></li>
            <li><a href="#campaigns" class="nav-link">Campaigns</a></li>
            <!-- <li><a href="#category" class="nav-link">Category</a></li> -->
            <li><a href="../pages/about.html" class="nav-link">About</a></li>
            <li><a href="../pages/contact.html" class="nav-link">Contact</a></li>
        </ul>
    </nav>
    <button class="donate-btn"> <a href="../pages/signup.html">Sing Up</a></button>
</header>